$primary-color: #0d4394;
$secondary-color: #087da8;

@import '~@fontsource/inconsolata/index.css';
@import '~@fontsource/cousine/index.css';
@import '~@fontsource/raleway/index.css';
@import '~@fontsource/wendy-one/index.css';
@import '~@fontsource/work-sans/index.css';

$family-sans-serif: 'Work Sans', sans-serif;
$family-primary: $family-sans-serif;
